
body {
	background-color:#E8E8E8 !important;
}
.home-round {
    border-radius: 100px;
	height: 300px;
	width: 300px;
 	transition: all 0.5s;
}

.home-round:hover {
	border-radius: 120px;
	height: 320px;
	width: 320px;
	cursor: pointer;	
}

.btn-roads{
	background-color: red;
	}
.btn-complain{
	background-color: green;
	}
.btn-black-spot{
	background-color: yellow;
	}
.btn-register{
	background-color: blue;
	}
.home-btn-text {
	text-align: center;
	position: relative;
	top: -160px !important;
	left: 70px !important;
	font-size: 30px;
	color: white;
	text-decoration: none !important;
}
.panel-footer{text-align: right;
}

@media screen and (max-width: 300px) {
	.home-round {

	    border-radius: 50px;
		height: 75px;
		width: 75px;
	    
	    }
	.btn-roads{
	    background-color: red;
		}
    .btn-complain{
	    background-color: green;
	}
	.btn-black-spot{
		background-color: yellow;
	}
	.btn-register{
		background-color: blue;
	}
	.home-btn-text {
		text-align: center;
		position: relative;
		top: -49px !important;
		left: -61px !important;
		color: black;
	}
}